/* EjerciciosComponent.css */

body {
  margin: 0;
  padding: 0;
}

.ejercicios-container {
  text-align: center;
  font-family: 'Arial, sans-serif';
  background-color: #f4f4f4;
  margin: 20px;
}

.ejercicios-header {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centro vertical */
  align-items: center; /* Centro horizontal */
  margin-bottom: 10px;
  background-color: #333;
  color: white;
  padding: 10px
}

h2 {
  color: #fff;
}

.ejercicios-link-button {
  text-decoration: none;
  color: white;
  margin-left: auto;
}

button {
  background-color: #af9d4c;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: auto;
}

.ejercicios-info-header {
  text-align: left;
  margin-left: 40px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.ejercicios-lista {
  list-style-type: none;
  padding: 0;
}

.ejercicio-item {
  margin-bottom: 10px;
}

.ejercicio-info {
  display: flex;
  justify-content: space-between;
}

.ejercicios-botones {
  display: inline-block;
}

.ejercicios-linea {
  border: 1px solid #ddd;
}
