/* Ejercicios.css */

.ejercicios-container {
    max-width: 600px;
    margin: auto;
    text-align: center;
  }
  
  .ejercicios-title {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .ejercicios-nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .ejercicios-button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .ejercicios-list {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
  }
  
  .ejercicios-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .ejercicios-buttons {
    display: inline-block;
  }
  
  .ejercicios-buttons button {
    margin-right: 5px;
    padding: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .ejercicios-buttons button:hover {
    background-color: #0056b3;
  }
  
  .ejercicios-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  
  .ejercicios-modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
  }
  
  .ejercicios-modal-content h3 {
    margin-bottom: 10px;
  }
  
  .ejercicios-modal-content button {
    margin-top: 10px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .ejercicios-modal-content button:hover {
    background-color: #0056b3;
  }
  